# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/

# node_modules
node_modules/

# virtual environment
venv/
.venv/

# environment variables
.env

.DS_Store

# ignoring the testing log
performance.log

# CDK asset staging directory
.cdk.staging
cdk.out
.qodo